$blueBg: #69e0f0;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $info: $blueBg,
  $textarea-min-height: 200px,
  $textarea-max-height: 300px,
);

@use "../components/button/FuncButton.scss";
@use "../components/input/slider/SliderInput.scss";
@use "../components/textarea/Textarea.scss";

.icon-text-gap {
  column-gap: 12px;
}

.navbar-items-gap {
  column-gap: 30px;
}

.navbar-item:hover, .navbar-link:hover {
  background-color: darken($blueBg, 10%),
}

.navbar-item:focus {
  background-color: transparent;
}

.navbar {
  -webkit-box-shadow: 0px 0.15px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0.15px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0.15px 10px 0px rgba(0,0,0,0.75);
}

.subtitle {
  line-height: 1.5;
}

.dropdown-country-item {
  transition: 0.3s;
}

.dropdown-country-item:hover {
  background-color: darken(white, 5%);
}

.maxWidth {
  width: 100%;
}

.dropdown-content-height {
  max-height: 200px;
  overflow-y: auto;
}

.link-navbar-container {
  height: 50px;
}

.disable-page {
  opacity: 0.5;
}